 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    /* header start */
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .logo img {
        height: 40px;
    }
    header .menu ul li a {
        text-align: center;
        padding: 15px 0px !important;
    }
    header .menu ul li a:hover {
        text-underline-offset: 20px;
    }
    header .menu ul li a.active {
        text-underline-offset: 20px;
    }
    header .btn_estimate {
        margin: auto;
        display: block;
    }
    /* header end */
 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
    /* header start */
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .logo img {
        height: 40px;
    }
    header .menu ul li a {
        text-align: center;
        padding: 15px 0px !important;
    }
    header .menu ul li a:hover {
        text-underline-offset: 20px;
    }
    header .menu ul li a.active {
        text-underline-offset: 20px;
    }
    header .btn_estimate {
        margin: auto;
        display: block;
    }
    /* header end */
 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
    /* header start */
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .logo img {
        height: 40px;
    }
    header .menu ul li a {
        text-align: center;
        padding: 15px 0px !important;
    }
    header .menu ul li a:hover {
        text-underline-offset: 20px;
    }
    header .menu ul li a.active {
        text-underline-offset: 20px;
    }
    header .btn_estimate {
        margin: auto;
        display: block;
    }
    /* header end */
 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {

     /* info header start */
     .info_header {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

     /* info header end */
     /* header start */
     header {
         padding-top: 10px;
         padding-bottom: 10px;
     }
     header .logo img {
         height: 40px;
     }
     header .menu ul li a {
         padding: 0 13px !important;
     }
     header .menu ul li a:hover {
         text-underline-offset: 25px;
     }
     header .menu ul li a.active {
         text-underline-offset: 25px;
     }
     header .btn_estimate {
         margin-left: 13px;
     }
     /* header end */
     /* banner start */
     .banner {
        padding-top: 0px;
        padding-bottom: 20px;
    }
     .banner .b_left h1 {
        font-size: 45px;
    }
    .banner .b_left p {
        font-size: 22px;
    }
    .banner .b_right .carousel-indicators [data-bs-target] {
        width: 5px;
        height: 5px;
        top: 15px;
        position: relative;
        border-radius: 50%;
        border: 3px solid #FFFFFF;
        background: transparent;
    }
     /* banner end */
     /* features start */
     .features {
        padding-top: 80px;
    }
    .features .f_content {
        padding: 25px 25px 25px 35px;
    }
    .features .f_content .fc_image {
        width: 60px;
    }
    .features .f_content .fc_image img {
        margin-left: 12px;
    }
    .features .f_content .fc_text h3 {
        font-size: 24px;
    }
     /* features end */
     /* why start */
     .why {
        padding-top: 45px;
        padding-bottom: 60px;
    }
     /* why end */

 }

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {

     /* info header start */
     .info_header {
         padding-top: 18px;
         padding-bottom: 18px;
     }

     /* info header end */
 }

 /* Extra extra large devices (extra large desktops, 1400px and up) */
 @media (min-width: 1400px) {}